Django==1.7.1
SQLAlchemy==0.9.8
South==1.0.1
amqp==1.4.6
anyjson==0.3.3
bcrypt==1.1.0
billiard==3.3.0.19
bleach==1.4
celery==3.1.17
cffi==0.8.6
cryptography==0.6.1
django-appconf==0.6
django-bootstrap-admin==0.3.4
django-celery==3.1.16
django-compressor==1.4
django-debug-toolbar==1.2.2
django-tastypie==0.12.1
djangorestframework==3.0.1
gnureadline==6.3.3
html5lib==0.999
ipython==2.3.1
kombu==3.0.24
mongoadmin==0.2
mongodbforms==0.3
mongoengine==0.8.7
pyOpenSSL==0.14
pycparser==2.10
pycurl==7.19.5
pymongo==2.7.2
python-dateutil==2.3
python-memcached==1.53
python-mimeparse==0.1.4
pytz==2014.10
requests==2.5.0
six==1.8.0
sqlparse==0.1.14
wsgiref==0.1.2
