
#Django==1.5 Nonrel version from github
git+https://github.com/django-nonrel/djangotoolbox
git+https://github.com/django-nonrel/django@nonrel-1.5
git+https://github.com/django-nonrel/mongodb-engine
git+https://github.com/django-nonrel/django-dbindexer
bcrypt
cffi
cryptography
#django-bootstrap-admin
#django-compressor
#django-bootstrap3
gnureadline
html5lib
ipython
pymongo
mongoengine
mongoadmin
pyOpenSSL
pycparser
pycurl
python-dateutil
python-memcached
python-mimeparse
pytz
requests
BeautifulSoup4
six
sqlparse
wsgiref
