#Django==1.6.5 Nonrel version from github
#https://github.com/django-nonrel/djangotoolbox/tarball/master
#https://github.com/django-nonrel/django/tarball/nonrel-1.5
#https://github.com/django-nonrel/django-dbindexer/tarball/master
bcrypt
cffi
cryptography
#django-bootstrap-admin
#django-compressor
#django-bootstrap3
gnureadline
html5lib
ipython
pymongo
mongoengine
mongoadmin
pyOpenSSL
pycparser
pycurl
python-dateutil
python-memcached
python-mimeparse
pytz
requests
BeautifulSoup4
six
sqlparse
wsgiref
